<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 配置mapper,mybatis通过使用mapper实现dao接口 -->
<mapper namespace="com.xunge.echarts.dao.EchartsDao">

    <!-- 查询所有数据 -->
    <select id="findAll" resultType="Echarts">
        SELECT name,num FROM echarts
    </select>

</mapper>
